*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header div.hamburguesa{
    display: block;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header nav ul li{
    list-style-type: none;
}


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    padding: 0px;
    border-radius: 2.5px;
    display: flex;
    width: 100%;
    height: 19px;
    overflow: auto;
    font-size: 8.5px;
}

.inputBuscador{
    width: 100%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 2.5px;
    color: #666;
    padding: 2px;
    width: 30%;
    text-align: center;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    /* display: none; */
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
    transition: box-shadow 1000ms;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article .description{
    opacity: 0;
}

main section article:hover .description {
    opacity: 1;
    transition: all 300ms;
}

main section article:hover .fa-truck {
    transform: rotate(-90deg);
    transition: all 500ms;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer{
    width: 91%;
    margin: 0 auto;
    background-color: #fff;
}

footer section ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    list-style-type: none;
    
}

footer section ul li{
    margin: 5%;
    width: 100%;
    text-align: center;
}

footer section ul li i{
    margin: 5%;
    /* margin: 0 auto; */
    font-size: 2rem;
    color: #0044AA;
}

footer section ul li i:hover{
    color: #39b54a;
    transition: color 1000ms;
}

/* register.html */
.register{
    padding: 0%;
}

.formFeatures{
    padding: 10px;
}

.inpuText{
    margin: 10px;
    width: 100%;
    padding: 5px;
}

.profile{
    margin: 10px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.profile-box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.interests{
    margin: 10px;
    width: 100%;
    padding: 5px;
}

.interests-box{
    padding: 10px;
}

.profile{
    margin: 10px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.registroButton {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.registroContainer{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.registroButton1 {
    flex-grow: 1;
    color: #fff;
    background-color: #0044AA;
}

.registroButton2 {
    flex-grow: 1;
    color: #fff;
    background-color: #0044AA;
}

.registroButton3 {
    flex-grow: 1;
    color: #fff;
    background-color: #0044AA;
}

/* login.html */
.login{
    padding: 100px 1px 1px 1px;
    height: 50vh;
}

.loginButton {
    flex-grow: 1;
    color: #fff;
    background-color: #0044AA;
    transition: background-color, 1s;
}

.loginButton:hover{
    background-color: #0022AA;
}


@media (min-width: 361px){
    header nav{
        display: block;
        display: flex;
        justify-content: space-around;
        font-size: 8px;
    }

    header nav .container{
        width: 100%;
    }

    header nav .containerEnd{
        margin-right: 20px;
        width: 100%;
    }

    header nav .navDerecha {
        display: flex;
        flex-direction: row;

    }

    header nav .navIzquierda {
        display: flex;
        flex-direction: row-reverse;
        
    }

    header nav .nav-item{
        padding: 2px;
    }

    header div.hamburguesa{
        display: none;
    }

    main section article .description{
        display: block;
    }

    main section article .description {
        opacity: 1;
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
    
    header div.logo{
        width: 23%;
        align-self: center;
    }
    
    header .form{
        width: 23%;
        align-self: center;
    }

    header div.top-header p{
        width: 54%; 
        text-align: center;
        align-self: center;
    }

    p{
        font-size: 9px;
    }

    header .form .submit{
        width: 20%;
    }
    
    /* register.html */
    .register{
        padding: 10%;
    }

    /* login.html */
    .login{
        padding: 100px 50px 1px 50px;
        height: 50vh;
    }
}

@media (min-width: 457px){
    header nav{
        font-size: 10px;
    }

    header div.logo{
        width: 26%;
    }
    
    header .form{
        width: 26%;
    }

    header div.top-header p{
        width: 48%; 
    }
    p{
        font-size: 10px;
    }
    header nav .nav-item{
        padding: 3px;
    }
}

@media (min-width: 769px){
    header nav{
        font-size: 12px;
    }

    main section div.products article{
        width: 22%;
    }

    header div.logo{
        width: 32%;
    }
    
    header .form{
        width: 32%;
    }

    header div.top-header p{
        width: 36%; 
    }

    p{
        font-size: 12px;
    }

    header nav .nav-item{
        padding: 15px;
    }

    footer{
        width: 90%;
    }
    
    footer section{
        display: flex;
        flex-wrap: wrap;
        font-size: .6rem;
    }

    footer section ul{
        padding: 5px;
        width: 33.3%;
        display: inline-block;
    }

    footer section ul li strong{
        font-size: 1rem;
    }

    /* register.html */
    .register{
        padding: 10px 150px 150px 100px;
    }

    
    /* login.html */
    .login{
        padding: 100px 150px 1px 150px;
        height: 50vh;
    }
    .main{
        border-radius: 50%;
    }
}